<!DOCTYPE>
<html>
  <head class="html5reset-kitchensink-clean">
    <meta charset="utf-8" />
    <title>{{site.name}} - {{site.author}}
    {% if page.title %}
     : {{ page.title }}
    {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{site.author}}" />
    <meta name="Copyright" content="Copyright {{site.author}} 2014. All Rights Reserved." />
    <meta name="DC.title" content="{{site.name}}" />
    <meta name="DC.subject" content="Ski, outdoors, paddling, canoe, camping, mountain, bike." />
    <meta name="DC.creator" content="{{site.author}}." />
    <link href="/favicon.png" type="image/png" rel="icon">
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.url}}/assets/img/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.url}}/assets/img/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.url}}/assets/img/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{site.url}}/assets/img/apple-touch-icon-precomposed.png">
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English:400italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.url}}/assets/css/master.min.css" />
    <!--[if IE]>
    <link rel="stylesheet" href="{{site.url}}/assets/css/patches/win-ie-all.css" />
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{site.url}}/assets/css/patches/win-ie7.css" />
    <![endif]-->
    <!--[if lt IE 8]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
    <![endif]-->
    <script src="{{site.url}}/assets/js/modernizr-1.5.min.js"></script>
    <link href="{{site.rss_url}}" rel="alternate" title="{{ site.name }} - {{ site.author }}" type="application/atom+xml" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
